<style>
    /* h1:first-child {
        display: none;
    } */
    /* @media (prefers-color-scheme: dark) {
        :root {
            --primaryColor: white;
            --backgroundColor: #212121;
            --primaryAccentColor: DeepSkyBlue;
            --secondaryAccentColor: DarkCyan;
        }

        body {
            color: var(--primaryColor);
            background-color: var(--backgroundColor);
        }

        a:link {
            color: var(--primaryAccentColor);
        }

        a:visited {
            color: var(--secondaryAccentColor);
        }
    } */
</style>

<meta name="theme-color" content="teal">
<link href="https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap" rel="stylesheet">
